<div id="main">
    <app-back-button [noRedirectHome]="true"></app-back-button>
    <div>
        <div>
            <label for="idMateria">Materia: </label>
            <input type="text" name="idMateria" id="idMateria" #idMateria>
        </div>
        <button (click)="creaMateria(idMateria.value)">Crea Materia</button>
    </div>
    <div *ngFor="let materia of materie | async" class="materia-list">
        <label for="id">Materia: </label>
        <input type="text" id="id" [(ngModel)]="materia.nome" (keyup)="modificheFatte = true;">
        <button *ngIf="modificheFatte" (click)="modificaMateria(materia)">Salva Modifiche</button>
        <button (click)="cancellaMateria(materia)">Cancella Materia</button>
    </div>
    <div class="pagination" *ngIf="materie">
        <button class="prev" (click)="navigateToPage(currentPage - 1)">Precedente</button>
        <span class="page-number">{{ currentPage + 1 }}</span>
        <button class="next" (click)="navigateToPage(currentPage + 1)">Prossima</button>
    </div>
</div>
