<div id="main" *ngIf="utente | async as utente" style="max-width: 1000px">
    <app-loader *ngIf="!caricamentoCompletato"></app-loader>
    <app-back-button style="position: fixed; top: 30px; left: 30px;"></app-back-button>
    <div *ngIf="sportello | async as sportello">
        <div>
            <app-sportello-compact-view [sportello]="sportello"></app-sportello-compact-view>
        </div>
        <div id="button-container">
            <button (click)="cancellaSportello()" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)">Cancella Sportello</button>
            <button *ngIf="mostraTastoSalvaModifiche" (click)="salvaModifiche()">Salva Modifiche</button>
        </div>
        <div id="container">
            <div class="data-container">
                <h3>Descrizione Corso</h3>
                <textarea *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)" [(ngModel)]="sportello.descrizione_sportello" (keyup)="mostraTastoSalvaModifiche = true"></textarea>
                <textarea disabled *ngIf="utente.ruolo === 'STUDENT'">{{sportello.descrizione_sportello}}</textarea>
            </div>
            <div class="data-container">
                <div class="data-input" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)">
                    <label for="inizio">Data/Ora Inizio</label>
                    <input type="datetime-local" name="inizio" id="inizio" #inizio>
                </div>
                <div class="data-input" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)">
                    <label for="fine">Data/Ora Fine</label>
                    <input type="datetime-local" name="fine" id="fine" #fine>
                </div>
                <div *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)"><button (click)="aggiungiOrario(); mostraTastoSalvaModifiche = true">Aggiungi Orario</button></div>
                <div>
                    <table>
                        <tr>
                            <th>Data/Ora Inizio</th>
                            <th>Data/Ora Fine</th>
                            <th>Posti Rimasti</th>
                            <th>-</th>
                        </tr>
                        <tr *ngFor="let giorno of sportello.giorni">
                            <td>
                                <input type="datetime-local" [(ngModel)]="giorno.id.data_inizioId" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)" (keyup)="mostraTastoSalvaModifiche = true">
                                <input type="datetime-local" value="{{giorno.id.data_inizioId}}" *ngIf="utente.ruolo === 'STUDENT'" disabled>
                            </td>
                            <td>
                                <input type="datetime-local" [(ngModel)]="giorno.id.data_fineId" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)" (keyup)="mostraTastoSalvaModifiche = true">
                                <input type="datetime-local" value="{{giorno.id.data_fineId}}" *ngIf="utente.ruolo === 'STUDENT'" disabled>
                            </td>
                            <td><input type="number" id="" value="{{giorno.max_iscritti - giorno.num_iscritti}}" disabled></td>
                            <td *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)"><button (click)="cancellaData(giorno.id.data_inizioId, giorno.id.data_fineId); mostraTastoSalvaModifiche = true">Cancella Data</button></td>
                           <td *ngIf="utente.ruolo === 'STUDENT'">
				<button *ngIf="isDateExpired(giorno.id.data_inizioId)" style="background: lightgray">Iscrizioni Chiuse</button>
                                <button *ngIf="controllaSeIscritto(giorno.id) && !isDateExpired(giorno.id.data_inizioId)" (click)="disiscrivi(giorno.id)" style="background: lightcoral">Cancella Iscrizione</button>
                                <button *ngIf="!controllaSeIscritto(giorno.id) && !isDateExpired(giorno.id.data_inizioId)" (click)="iscrivi(giorno.id)" style="background: lightgreen">Iscriviti</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="data-container" *ngIf="utente.ruolo === 'ADMIN' || (utente.ruolo === 'TEACHER' && sportello.docente_responsabile.email === utente.email)">
                <div *ngFor="let iscrizione of iscrizioniSportello | async">
                    <table>
                        <tr>
                            <th>Iscritti del: {{iscrizione.id.data_inizioId | date:'dd/MM/yyyy hh:mm'}} - {{iscrizione.id.data_fineId | date:'dd/MM/yyyy hh:mm'}}</th>
                        </tr>
                        <tr>
                            <td *ngFor="let iscritto of iscrizione.iscritti" style="display: flex; justify-content: space-between">
                                <span>{{iscritto}}</span>
                                <button *ngIf="utente.ruolo === 'ADMIN'" (click)="rimuoviIscritto(iscritto, iscrizione.id)">Rimuovi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
