<div id="main">
    <div id="form">
        <h2 style="text-align: center">Crea un Nuovo Sportello</h2>
        <label for="nomeSportello">Nome Sportello: </label>
        <input type="text" name="nomeSportello" id="nomeSportello" #nomeSportello>
        <label for="materia">Materia: </label>
        <select name="materia" id="materia" #materia>
            <option value="" selected></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <label for="maxPosti">Posti Massimi</label>
        <input type="number" name="maxPosti" id="maxPosti" #maxPosti>
        <p><i><small>Modificare il nome del docente non è necessario! Ci pensa l'applicazione a caricare i dati!</small></i></p>
        <label for="descrizioneSportello">Descrizione Sportello: </label>
        <textarea id="descrizioneSportello" #descrizioneSportello></textarea>
        <p>Inserimento Orari</p>
        <label for="inizio">Data/Ora Inizio</label>
        <input type="datetime-local" name="inizio" id="inizio" #inizio>
        <label for="fine">Data/Ora Fine</label>
        <input type="datetime-local" name="fine" id="fine" #fine>
        <table>
            <tr>
                <th>Data/Ora Inizio</th>
                <th>Data/Ora Fine</th>
            </tr>
            <tr *ngFor="let orario of orari">
                <td>{{orario.data_inizio}}</td>
                <td>{{orario.data_fine}}</td>
            </tr>
        </table>
        <button (click)="aggiungiOrario()">Aggiungi Orario</button>
        <button (click)="creaSportello()">Crea Sportello</button>
    </div>
</div>
